.container {
  border: 3px solid rgb(86, 197, 241);
}

.card {
  background-color: rgb(255, 255, 255);
}

.info {
  font-size: 18px;
}

.img {
  height: 130px;
  width: 130px;
}

.zoom {
  height: 250px;
  width: 250px;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 13px;
}

.todo {
  width: 70%;
  padding: 10px;
  display: flex;
  gap: 23px;
  align-items: center;
  background: rgb(28, 120, 206);
  border-radius: 3px;
}
